.table {
    margin: auto;
    width: 80%;
    margin-top: 150px;
}

a:link { text-decoration: none; color: black;}


a:visited { text-decoration: none;color: black; }


a:hover { text-decoration: none; color: blue;}


a:active { text-decoration: none;color: black; }